In [2]:
import numpy as np
import pandas as pd

dataset = pd.read_csv('../datasets/T20-Edit - Sheet1.csv')

In [3]:
unique_match_ids = dataset.match_id.unique()

for i in unique_match_ids:
    unique_strikers = dataset[(dataset['match_id'] == i)]['striker'].unique()
    for j in unique_strikers:
        runs = dataset.loc[(dataset['match_id']==i) & (dataset['striker'] == j)]['runs_off_bat'].astype('int').sum()
        dataset.loc[(dataset['match_id']==i) & (dataset['striker'] == j), 'runs_individual'] = runs

In [4]:
dataset.head()

,match_id,season,start_date,venue,pitch_conditon,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,runs_off_bat,extras,wicket_type,player_dismissed,runs_individual
0,1162727,2018/19,22-10-2018,Tolerance Oval,bowling,1,0.1,United Arab Emirates,Australia,Ashfaq Ahmed,Chirag Suri,NM Coulter-Nile,0,0,.,.,0.0
1,1162727,2018/19,22-10-2018,Tolerance Oval,bowling,1,0.2,United Arab Emirates,Australia,Ashfaq Ahmed,Chirag Suri,NM Coulter-Nile,0,0,.,.,0.0
2,1162727,2018/19,22-10-2018,Tolerance Oval,bowling,1,0.3,United Arab Emirates,Australia,Ashfaq Ahmed,Chirag Suri,NM Coulter-Nile,0,0,caught,Ashfaq Ahmed,0.0
3,1162727,2018/19,22-10-2018,Tolerance Oval,bowling,1,0.4,United Arab Emirates,Australia,Chirag Suri,Rohan Mustafa,NM Coulter-Nile,0,0,.,.,13.0
4,1162727,2018/19,22-10-2018,Tolerance Oval,bowling,1,0.5,United Arab Emirates,Australia,Chirag Suri,Rohan Mustafa,NM Coulter-Nile,0,0,.,.,13.0

In [9]:
for i in unique_match_ids:
    unique_strikers = dataset[(dataset['match_id'] == i)]['striker'].unique()
    for j in unique_strikers:
        runs = dataset.loc[(dataset['match_id']==i) & (dataset['striker'] == j)]['runs_individual'].unique()
        if runs[0] <= 24:
            dataset.loc[(dataset['match_id']==i) & (dataset['striker'] == j), 'rating'] = 1
        elif (runs[0] >= 25) and (runs[0] <= 49):
            dataset.loc[(dataset['match_id']==i) & (dataset['striker'] == j), 'rating'] = 2
        elif (runs[0] >= 50) and (runs[0] <= 74):
            dataset.loc[(dataset['match_id']==i) & (dataset['striker'] == j), 'rating'] = 3
        elif (runs[0] >= 75) and (runs[0] <= 99):
            dataset.loc[(dataset['match_id']==i) & (dataset['striker'] == j), 'rating'] = 4
        elif runs[0]>= 100:
            dataset.loc[(dataset['match_id']==i) & (dataset['striker'] == j), 'rating'] = 5

,match_id,season,start_date,venue,pitch_conditon,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,runs_off_bat,extras,wicket_type,player_dismissed,runs_individual,rating
0,1162727,2018/19,22-10-2018,Tolerance Oval,bowling,1,0.1,United Arab Emirates,Australia,Ashfaq Ahmed,Chirag Suri,NM Coulter-Nile,0,0,.,.,0.0,1.0
1,1162727,2018/19,22-10-2018,Tolerance Oval,bowling,1,0.2,United Arab Emirates,Australia,Ashfaq Ahmed,Chirag Suri,NM Coulter-Nile,0,0,.,.,0.0,1.0
2,1162727,2018/19,22-10-2018,Tolerance Oval,bowling,1,0.3,United Arab Emirates,Australia,Ashfaq Ahmed,Chirag Suri,NM Coulter-Nile,0,0,caught,Ashfaq Ahmed,0.0,1.0
3,1162727,2018/19,22-10-2018,Tolerance Oval,bowling,1,0.4,United Arab Emirates,Australia,Chirag Suri,Rohan Mustafa,NM Coulter-Nile,0,0,.,.,13.0,1.0
4,1162727,2018/19,22-10-2018,Tolerance Oval,bowling,1,0.5,United Arab Emirates,Australia,Chirag Suri,Rohan Mustafa,NM Coulter-Nile,0,0,.,.,13.0,1.0

In [14]:
dataset = dataset.drop(['match_id', 'season', 'start_date', 'innings', 'ball', 'non_striker','bowler','runs_off_bat','extras', 'wicket_type','player_dismissed', 'runs_individual'],axis=1)

In [15]:
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [16]:
le_score_venue = LabelEncoder()
le_score_pitchcond = LabelEncoder()
le_score_bat = LabelEncoder()
le_score_bowl = LabelEncoder()
le_score_striker = LabelEncoder()

In [17]:
dataset['venue'] = le_score_venue.fit_transform(dataset['venue'])
dataset['pitch_conditon'] = le_score_pitchcond.fit_transform(dataset['pitch_conditon'])
dataset['batting_team'] = le_score_bat.fit_transform(dataset['batting_team'])
dataset['bowling_team'] = le_score_bowl.fit_transform(dataset['bowling_team'])
dataset['striker'] = le_score_striker.fit_transform(dataset['striker'])

In [18]:
X = dataset.drop(['rating'],axis=1)
Y = dataset['rating']

In [19]:
Xtrain,Xtest,Ytrain,Ytest = train_test_split(X,Y, test_size = 0.3)

In [9]:
# from sklearn.linear_model import LinearRegression

# linear_reg = LinearRegression()
# linear_reg.fit(Xtrain, Ytrain)

# linear_reg_predict = linear_reg.predict(Xtest)
# print(linear_reg.score(Xtest,Ytest))

0.0022370530119409926

In [20]:
from sklearn.naive_bayes import GaussianNB

naive_bayes_algo = GaussianNB()

naive_bayes_algo.fit(Xtrain,Ytrain)

y_pred_nb = naive_bayes_algo.predict(Xtest)

print(accuracy_score(Ytest,y_pred_nb))

0.4738528669802959

In [21]:
from sklearn.ensemble import RandomForestClassifier

random_forest_class  = RandomForestClassifier()

random_forest_class.fit(Xtrain,Ytrain)

y_pred_rfc = random_forest_class.predict(Xtest)

print(accuracy_score(Ytest,y_pred_rfc))

0.9033885593509239

In [23]:
from sklearn.tree import DecisionTreeClassifier

dec_tree_class = DecisionTreeClassifier(criterion = 'entropy')

dec_tree_class.fit(Xtrain,Ytrain)

y_pred_dtc = dec_tree_class.predict(Xtest)

In [25]:
print(accuracy_score(Ytest, y_pred_dtc))

0.902638576395991

In [26]:
import pickle

batsman_score = {'model': random_forest_class, 'le_score_venue':le_score_venue, 'le_score_pitchcond':le_score_pitchcond,
'le_score_bat':le_score_bat, 'le_score_bowl':le_score_bowl, 'le_score_striker':le_score_striker}

with open('batsman_score.pkl', 'wb') as file:
    pickle.dump(batsman_score, file)