In [1]:
import pandas as pd
import numpy as np
import streamlit as st

dataset = pd.read_csv('../datasets/T20-Edit - Sheet1.csv')
ag_oppo_df = pd.read_csv('../datasets/against_oppo_df.csv')

In [2]:
import matplotlib.pyplot as plt

In [3]:
# ag_oppo_df.head()

In [10]:
dataset.head()

,start_date,venue,pitch_conditon,batting_team,bowling_team,striker,runs_individual
0,22-10-2018,Tolerance Oval,bowling,United Arab Emirates,Australia,Ashfaq Ahmed,0.0
1,22-10-2018,Tolerance Oval,bowling,United Arab Emirates,Australia,Ashfaq Ahmed,0.0
2,22-10-2018,Tolerance Oval,bowling,United Arab Emirates,Australia,Ashfaq Ahmed,0.0
3,22-10-2018,Tolerance Oval,bowling,United Arab Emirates,Australia,Chirag Suri,13.0
4,22-10-2018,Tolerance Oval,bowling,United Arab Emirates,Australia,Chirag Suri,13.0

In [5]:
unique_match_ids = dataset.match_id.unique()

for i in unique_match_ids:
    unique_strikers = dataset[(dataset['match_id'] == i)]['striker'].unique()
    for j in unique_strikers:
        runs = dataset.loc[(dataset['match_id']==i) & (dataset['striker'] == j)]['runs_off_bat'].astype('int').sum()
        dataset.loc[(dataset['match_id']==i) & (dataset['striker'] == j), 'runs_individual'] = runs

In [6]:
dataset = dataset.drop(['match_id', 'season', 'innings', 'ball', 'non_striker','bowler','runs_off_bat','extras', 'wicket_type','player_dismissed'],axis=1)

In [7]:
# dataset.head()

In [8]:
import streamlit as st

In [9]:
teams = ['Australia', 'Ireland', 'Afghanistan', 'India', 'Zimbabwe', 
             'Scotland', 'Netherlands', 'Namibia', 'Kenya', 'Sri Lanka', 
             'Pakistan', 'England', 'South Africa', 'Bangladesh', 
             'West Indies', 'New Zealand', 'Bermuda']

In [11]:
dataset = dataset[(dataset['batting_team'].isin(teams)) & (dataset['bowling_team'].isin(teams))]

In [12]:
dataset

,start_date,venue,pitch_conditon,batting_team,bowling_team,striker,runs_individual
223,21-02-2019,"Rajiv Gandhi International Cricket Stadium, De...",bowling,Ireland,Afghanistan,PR Stirling,23.0
224,21-02-2019,"Rajiv Gandhi International Cricket Stadium, De...",bowling,Ireland,Afghanistan,PR Stirling,23.0
225,21-02-2019,"Rajiv Gandhi International Cricket Stadium, De...",bowling,Ireland,Afghanistan,PR Stirling,23.0
226,21-02-2019,"Rajiv Gandhi International Cricket Stadium, De...",bowling,Ireland,Afghanistan,KJ O'Brien,5.0
227,21-02-2019,"Rajiv Gandhi International Cricket Stadium, De...",bowling,Ireland,Afghanistan,PR Stirling,23.0
...,...,...,...,...,...,...,...
144244,05-03-2022,"Shere Bangla National Stadium, Mirpur",bowling,Afghanistan,Bangladesh,Hazratullah,59.0
144245,05-03-2022,"Shere Bangla National Stadium, Mirpur",bowling,Afghanistan,Bangladesh,Darwish Rasooli,9.0
144246,05-03-2022,"Shere Bangla National Stadium, Mirpur",bowling,Afghanistan,Bangladesh,Darwish Rasooli,9.0
144247,05-03-2022,"Shere Bangla National Stadium, Mirpur",bowling,Afghanistan,Bangladesh,Darwish Rasooli,9.0
144248,05-03-2022,"Shere Bangla National Stadium, Mirpur",bowling,Afghanistan,Bangladesh,Darwish Rasooli,9.0

In [ ]:
team = dataset['batting_team'].unique()
striker = dataset['striker'].unique()

get_player_runs = {}

for i in striker:
    get_player_runs[i] = []
for i in striker:
    for j in team:
        data = list(dataset[(dataset['batting_team'] == j) & (dataset['striker'] == i)]['runs_individual'].unique())
        get_player_runs[i].append([data+[j]])

In [ ]:
get_player_runs